<navbar></navbar>

<section class="page-section" id="profileInfo">
  <div class="container">
    <div class="row" id="profileInfoBox">
      <div class="profile-info col-lg-4">
        <p>
          <span class="profile-category">Фамилия:</span>
          <span class="ml-3">{{client.surname}}</span>
        </p>
        <p>
          <span class="profile-category">Имя:</span>
          <span class="ml-3">{{client.name}}</span>
        </p>
        <p>
          <span class="profile-category">Отчество:</span>
          <span class="ml-3">{{client.secondName}}</span>
        </p>
        <p>
          <span class="profile-category">Серия и номер паспорта:</span>
          <span class="ml-3">{{client.passportNumber}}</span>
        </p>
        <button class="btn btn-primary btn-xl mt-3" id="editBtn" data-toggle="modal" data-target="#editClientModal">Редактировать</button>

        <!-- Modal -->
        <div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
             aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Редактировать профиль</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="modal-body">
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="editName">Имя</span>
                    </div>
                    <input type="text" class="form-control" formControlName="name"
                           placeholder="{{client.name}}" aria-label="Default" aria-describedby="editName">
                  </div>
                  <div *ngIf="name.hasError('required') && name.touched" class="error text-primary">
                    Name is required
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="editUsername">Username</span>
                    </div>
                    <input type="text" class="form-control" formControlName="username"
                           placeholder="{{client.username}}" aria-label="Default" aria-describedby="editUsername">
                  </div>
                  <div *ngIf="username.hasError('required') && username.touched" class="error text-primary">
                    Username is required
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="text-center mt-0">Список депозитов</h2>
    <hr class="divider my-4">
    <div class="row">

      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let contract of clientDeposits">
          <p class="h3 mt-2" id="contractName">
            <span class="">{{contract.planName}}</span>
          </p>
          <p>
            <span class="profile-category">Сумма депозита:</span>
            <span class="ml-3">{{contract.amount}}</span>
          </p>
          <p>
            <span class="profile-category">Дата окончания депозитного периода:</span>
            <span class="ml-3">{{contract.contractEndDate}}</span>
          </p>
        </li>
      </ul>
    </div>

    <hr class="divider my-4">
    <h2 class="text-center mt-0">Список кредитов</h2>
    <hr class="divider my-4">
    <div class="row">

      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let contract of clientCredits">
          <p class="h3 mt-2" id="creditName">
            <span class="">{{contract.planName}}</span>
          </p>
          <p>
            <span class="profile-category">Сумма кредита:</span>
            <span class="ml-3">{{contract.amount}}</span>
          </p>
          <p>
            <span class="profile-category">Дата окончания кредитного периода:</span>
            <span class="ml-3">{{contract.contractEndDate}}</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
